* {
    box-sizing: border-box;
  }

@media screen and (max-width:799px) and (min-width:699px){
    body{
        background-color: #774DF6;
        margin: auto;
        color: white;
        width: 750px;
        margin: auto;
        font-size: 12px;
    }

    .clear{
        clear: both;
    }

    .Uvod{
        border: 1px solid white;
        width: 90%;
        min-height: 100px;
        margin-top: 20px;
        position: relative;
        left: 7%;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .Uvod img{
        float: right;
        padding: 4px 4px 4px 10px;
    }

    .PrviDio{
        width: 100%;
        position: relative;
        left: 7%;
        margin-top: 20px;
        min-height: 300px;
    }

    .Posao{
        border: 1px solid white;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 90%;
        margin-top: 10px;
    }

    h2{
        font-size: 20px;
    }
    
    h3{
        text-align: center;
        font-size: 20px;
    }

    .Citat{
        border: 1px solid white;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 90%;
        font-style: italic;
        margin-top: 20px;
    }
    
    .DrugiDio{
        margin-top: 20px;
        width: 100%;
    }

    .Rodjenje{
        border: 1px solid white;
        float: left;
        width: 29%;
        padding: 10px;
    }

    .Mladost{
        position: relative;
        top: -240px;
        border: 1px solid white;
        float: left;
        width: 29%;
        padding: 10px;
        margin-left: 230px;
    }

    .Smrt{
        position: relative;
        top: -240px;
        border: 1px solid white;
        float: left;
        width: 29%;
        padding: 10px;
        margin-left: 10px;
    }

    .Slike{
        width: 90%;
        position: relative;
        top: -240px;
    }

    .Slika1{
        width: 45%;
        border: 1px solid white;
        padding: 3px 3px 3px 3px;
        min-width: 330px;
        float: right;
    }

    .Slika1 img{
        width: 324px;
    }

    .Slika2{
        width: 45%;
        border: 1px solid white;
        padding: 2px 2px 2px 2px;
        min-width: 330px;
        float: left;
        position: relative;
        top: -225px;
    }

    .Slika2 img{
        width: 324px;
    }
}

@media screen and (max-width: 799px){
    body{
        background-color: #2196F3;
        margin: auto;
        color: white;
        width: 750px;
        margin: auto;
        font-size: 12px;
    }

    .clear{
        clear: both;
    }

    .Uvod{
        border: 1px solid white;
        width: 90%;
        min-height: 100px;
        margin-top: 20px;
        position: relative;
        left: 7%;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .Uvod img{
        float: right;
        padding: 4px 4px 4px 10px;
    }

    .PrviDio{
        width: 100%;
        position: relative;
        left: 7%;
        margin-top: 20px;
        min-height: 300px;
    }

    .Posao{
        border: 1px solid white;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 90%;
        margin-top: 10px;
    }

    h2{
        font-size: 20px;
    }
    
    h3{
        text-align: center;
        font-size: 20px;
    }

    .Citat{
        border: 1px solid white;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 90%;
        font-style: italic;
        margin-top: 20px;
    }
    
    .DrugiDio{
        margin-top: 20px;
        width: 100%;
    }

    .Rodjenje{
        border: 1px solid white;
        float: left;
        width: 29%;
        padding: 10px;
    }

    .Mladost{
        position: relative;
        top: -240px;
        border: 1px solid white;
        float: left;
        width: 29%;
        padding: 10px;
        margin-left: 230px;
    }

    .Smrt{
        position: relative;
        top: -240px;
        border: 1px solid white;
        float: left;
        width: 29%;
        padding: 10px;
        margin-left: 10px;
    }

    .Slike{
        width: 90%;
        position: relative;
        top: -240px;
    }

    .Slika1{
        width: 45%;
        border: 1px solid white;
        padding: 3px 3px 3px 3px;
        min-width: 330px;
        float: right;
    }

    .Slika1 img{
        width: 324px;
    }

    .Slika2{
        width: 45%;
        border: 1px solid white;
        padding: 2px 2px 2px 2px;
        min-width: 330px;
        float: left;
        position: relative;
        top: -225px;
    }

    .Slika2 img{
        width: 324px;
    }
}

@media screen and (min-width: 800px){
    body{
        background-color: #FF5722;
        margin: 0 auto;
        font-size: 12px;
        color: white;
        width: 1000px;
    }

    .clear{
        clear: both;
    }

    .Uvod{
        border: 1px solid white;
        width: 400px;
        margin-top: 20px;
        position: relative;
        left: 35%;
        padding-bottom: 10px;
    }

    .Uvod img{
        float: left;
        padding: 5px 5px 5px 15px;
    }

    .PrviDio{
        width: 100%;
        position: relative;
        left: 7%;
        margin-top: 20px;
    }

    .Posao{
        border: 1px solid white;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 45%;
        float: left;
        margin-left: 10px;
    }

    h2{
        font-size: 20px;
    }
    
    h3{
        text-align: center;
        font-size: 20px;
    }

    .Citat{
        border: 1px solid white;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 45%;
        font-style: italic;
        float: left;
        padding: 10px;
        margin-left: 30px;
    }
    
    .DrugiDio{
        margin-top: 30px;
        width: 40%;
        float: left;
    }

    .Rodjenje{
        border: 1px solid white;
        width: 70%;
        padding: 10px;
        margin-left: 80px;
    }

    .Mladost{
        border: 1px solid white;
        width: 70%;
        padding: 10px;
        margin-left: 80px;
        margin-top: 10px;
    }

    .Smrt{
        border: 1px solid white;
        width: 70%;
        padding: 10px;
        margin-left: 80px;
        margin-top: 10px;
    }

    .Slike{
        margin-top: 20px;
        width: 50%;
        float: left;
        position: relative;
        top: -705px;
        margin-left: 460px;
    }

    .Slika1{
        border: 1px solid white;
        padding: 10px 10px 10px 10px;
        min-width: 550px;
    }

    .Slika1 img{
        width: 530px;
    }

    .Slika2{
        margin-top: 10px;
        border: 1px solid white;
        padding: 10px 10px 10px 10px;
        min-width: 550px;
    }

    .Slika2 img{
        width: 530px;
    }
}
