/*
Font familija: Arial, Helvetica, sans-serif;
Tamno siva boja: #25252d
Ljubičasta boja (pozadina): # 535ca1
Bijela boja: #fff
Tekst: crni
*/

body{
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header,footer{
    width: 99.3%;
    text-align: right;
    color: white;
    background-color: #535ca1;
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    z-index: 0;
    padding-right: 10px;
}
.sidenav{
    height: 100%;
    position: fixed;
    width: 200px;
    background-color: #25252d;
    z-index: 1;
    color: white;
}
.sidenav ol{
    list-style-type: none;
    width: 100px;
    margin-top:90px;

}
.sidenav hr{
    color: white;
}
.wrapper{
    margin: 0 auto;
    width: 1200px;
    margin-left: 250px;
}
span{
    font-size: 25px;
    font-weight: bold;
}
.slika{
    background-image: url(img/connectwork.png);
    background-repeat: repeat;
    height: 300px;
    margin-top: 40px;
}
.paragraf{
    background-color: white;
    width: 320px;
    padding: 10px;
    padding-right: 10px;
    position: relative;
    top: 75px;
    left: 45px;
    padding-bottom: 15px;
}
.paragraf p{
    margin-top: 0px;
}
.paragraf a{
    text-decoration: none;
    color: white;
    background-color:  #535ca1;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
a:hover{
    text-decoration: underline;
    color: white;
}
a:visited{
    text-decoration: none;
}
.tablica{
    width: 1200px;
    margin: 0 auto;
}
.prva{
    width: 32%;
    position: absolute;
}
.uredi{
   width: 95%;
}
.gumb{
    padding: 10px 35px;
    color: white;
    background-color: #535ca1;
}
.druga{
    top: 15px;
    width: 58%;
    position: relative;
    bottom: 480px;
    left: 500px;
}
label{
    margin-top: 10px;
}
table{
    width: 100%;
    text-align: center;
}
th{
    padding: 10px;
}
td{
    padding: 20px;
}
.naslov{
    background-color: #535ca1;
    color: white;
}
footer{
    font-size: 11px;
    margin-top: 150px;
}