body{
    margin: 0 auto;
    width: 900px;
    font-family: Arial;
    font-size: 14px;
    color: #666;
    background-color: #4d4c4c;
}

.page-wrapper{
    background-color: #efe9e9;
    height: 1500px;
}

.intro{
    background-image: url(title.jpg);
    background-repeat: no-repeat;
    height: 270px;
}

.main h3{
    text-align: center;
    color: #147;
}

a:link {
    color:#147 ;
}

a:visited {
    color:#009900;
}

a:hover{
color: #6cf;
font-style: italic;
}

a:active{
    font-weight: bold;
    color: #795548;
}

.sidebar a:link{
    color: red;
}
.sidebar a:visited{
    color:green;
}
.sidebar a:hover{
    color:hotpink;
}
.sidebar a:active{
    color:blue;
}

.design-archives a:hover{
    color: yellow;
}

.main{
    width: 600px;
}

.sidebar{
    margin: -1200px 630px;
    width: 270px;
    height: 550px;
    margin-right:0px;
    margin-left:600px;
}

.zen-resources{
    background-image: url('pattern.png');
    background-repeat: repeat;
    padding-top: 10px;
    padding-bottom : 10px;
}

.design-archives{
    padding-bottom:15px ;
    padding-top:10px ;
    background-color: #6cf;
}

.design-selection{
    background-color: #ffffff;
    padding-bottom: 15px;
    padding-top: 10px;
    list-style-image: url('star.png');
}

.intro h1, h2{
    visibility: hidden;
}
.summary{
    visibility: hidden;
}

ul{
    list-style-type: none;
}

.select{
    text-align: left;
    padding-left: 10px;
    text-transform: uppercase;
}

.archives{
    text-align: left;
    padding-left: 10px ;
    text-transform: uppercase;
    color: #ffffff;;
}
.resources{
    text-align: left;
    padding-left: 10px ;
    text-transform: uppercase;
}

footer{
    visibility: hidden;
}

